@model Banco_P_mvc.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="text-danger">Estas seguro de eliminar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           DNI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.DNI_Emp)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Cli)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ape_Pat_Cli)
        </dd>


        <dt>
            Celular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel_Cli)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_cli)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir_cli)
        </dd>

        <dt>
            Distrito
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dis_cli)
        </dd>

        <dt>
            Fec Ingreso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Ing_Cli)
        </dd>

        <dt>
            Fec Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Nac_Cli)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-defaultb bg-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
