@model IEnumerable<Banco_P_mvc.Models.Cliente>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink(" Crear Nuevo", "Create", null, new { @class = "btn btn-primary btn-sm bi bi-plus" })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Distrito</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Empleado.DNI_Emp)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nom_Cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ape_Pat_Cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tel_Cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cor_cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dir_cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dis_cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fec_Ing_Cli)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fec_Nac_Cli)</td>
                    <td>
                        @Html.ActionLink(" Editar", "Edit", new { id = item.Dni_Cli }, new { @class = "btn btn-secondary btn-sm bi bi-pencil-square" })
                        @Html.ActionLink(" Detalles", "Details", new { id = item.Dni_Cli }, new { @class = "btn btn-info btn-sm bi bi-info-circle" })
                        @Html.ActionLink(" Eliminar", "Delete", new { id = item.Dni_Cli }, new { @class = "btn btn-danger btn-sm bi bi-trash" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
