@model Banco_P_mvc.Models.Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prestamo.Cod_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamo.Cod_Suc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Cuo_Pgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Cuo_Pgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Pro_Pgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Pro_Pgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon_Pgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon_Pgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Rea_Pgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Rea_Pgo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Pgo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
