@model IEnumerable<Banco_P_mvc.Models.Transferencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta.Ruc_Cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mon_Tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cue_Tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fec_Tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tra_Int)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Ruc_Cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mon_Tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cue_Tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fec_Tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tra_Int)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Tra }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Tra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Tra })
        </td>
    </tr>
}

</table>
