@model Banco_P_mvc.Models.Sucursal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Suc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afo_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afo_Suc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dis_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dis_Suc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Suc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dep_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dep_Suc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dir_Suc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dir_Suc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Suc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
