@model IEnumerable<Banco_P_mvc.Models.Sucursal>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-4">
    <h2 class="mb-4">Sucursales</h2>

    <p class="mb-4">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="fas fa-plus"></i> Crear Nueva
        </a>
    </p>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Código </th>
                <th>Nombre </th>
                <th>Aforo</th>
                <th>Distrito</th>
                <th>Provincia</th>
                <th>Departamento</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Cod_Suc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nom_Suc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Afo_Suc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dis_Suc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pro_Suc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dep_Suc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dir_Suc)</td>
                    <td>
                        @Html.ActionLink(" Editar", "Edit", new { id = item.Cod_Suc }, new { @class = "btn btn-secondary btn-sm bi bi-pencil-square" })
                        @Html.ActionLink(" Detalles", "Details", new { id = item.Cod_Suc }, new { @class = "btn btn-info btn-sm bi bi-info-circle" })
                        @Html.ActionLink(" Eliminar", "Delete", new { id = item.Cod_Suc }, new { @class = "btn btn-danger btn-sm bi bi-trash" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
